@model CalendarApplication.Models.User.UserViewModel

@{
    ViewBag.Title = "Index";
}

@using CalendarApplication.Models.User

<h2>User Info</h2>

<table>
    <tr>
        <td>Name</td>
        <td>@Model.UserName</td>
    </tr>

</table>