@model CalendarApplication.Models.Event.EventEditModel

@if(Model.TypeSpecifics.Count > 0)
{
    <h3>Event Type Specifics:</h3>
    <span style="color:red">*</span>@: means that the field is required for approval<br />
    <span style="color:red">**</span>@: means that the field is required to create the event<br /><br />
    
    <table style="margin-left:0;margin-right:auto">
        @for (int i = 0; i < Model.TypeSpecifics.Count; i++)
        {
            <tr style="padding:0">
                <td style="padding:2px;padding-bottom:10px">
                    @Html.FieldEditorFor(m => m.TypeSpecifics[i])
                </td>
            </tr>
        }           
    </table>
}
<script>
    numberOfFields = @Model.TypeSpecifics.Count;
    setState();
    validateInput('SelectedEventType','Type',true,true);
</script>