@model CalendarApplication.Models.Calendar.ViewCheckModel

@using CalendarApplication.Models.User;

<h2>VC</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <fieldset>
        <legend>Change view</legend>
        <b>Groups:</b><br />
        @foreach (GroupModel group in Model.GroupsAvailable) {
            <input type="checkbox" name="GroupsSelected" value="@group" checked="@Model.GroupsSelected.Contains(group)">
            @group.Name<br />
        }
        <b>Event Types:</b><br />
    <input type="submit" value="Submit"/>
    </fieldset>
}