/**************************************************/
/*                Monthly view                    */
/**************************************************/

/* A month square in monthly view */
td.calendar-month {
    background-color:white;
    text-align:left;
    vertical-align:top;
    padding:0;
    width:100px;
    height:80px;
    border-width:1px;
}

/* The little black square with the number in monthly view */
td.calendar-date-number {
    text-align:center;
    vertical-align:top;
    padding:0;
    font-size:14px;
    width:8px;
    background-color:black;
    color:white;
    cursor: pointer;
}

/* Event pop-ups in monthly view */
table.event-popup {
    padding:0;
    background-color:#EBEBEB;
    border:solid 1px black;
    border-collapse:collapse;
}
table.event-popup td {
    padding:0;
    padding-left:2px;
    padding-right:2px;
}

/**************************************************/
/*                 Dayly view                     */
/**************************************************/

/**************************************************/
/*                  List view                     */
/**************************************************/

/* Navigator panel */
table.navigator {
    border:double 3px grey;
    border-collapse:collapse;
}
table.navigator tr td {
    width:28px;
    height:28px;
    text-align:center;
    vertical-align:middle;
    border:solid 1px grey;
    padding:3px;
    background-color:lightgrey;
    cursor:pointer;
}
table.navigator tr td:hover {
    color:white;
    background-color:black;
}
/* Selected number in navigator */
table.navigator td.selected {
    color:black;
    background-color:darkgrey;
    cursor:text;
}
table.navigator td.selected:hover {
    color:black;
    background-color:darkgrey;
}

/* Style for the list of events */
table.event-list {
    border:double 3px grey;
    border-collapse:collapse;
}
table.event-list tr td {
    text-align:left;
    vertical-align:middle;
    border:solid 1px grey;
    padding:5px;
}
/* Clickable table headers for sorting */
table.event-list th {
    text-align:left;
    vertical-align:middle;
    border:solid 1px grey;
    background-color:lightgrey;
    font-weight:bold;
    cursor:pointer;
}
table.event-list th:hover {
    background-color:black;
    color:white;
}